<a href="https://colab.research.google.com/github/vasudev006/S2Codebase/blob/main/S2_EXPERIMENT_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Experiment No.1

***Introducing python as a tool for computational mathematics***
âœˆ

#Aim

To introduce python programming fundamentals and demonstarte its use as a computational tool for basic mathematical operation relevant to engineering mathematics

****

1.**Hello World**

The classic code for python command

In [25]:
print("hello , world!")

hello , world!

2.**Basic Arithmetic operations**

Simple operations like addition subtraction multiplication and division

In [26]:
#Addition
a=5;b=3
print("a+b=",a+b)

#Subtdaction
print("a-b=",a-b)

#Multiplication
print("Multiplication:",a*b)

#Division
print("Diviision:",a/b)

a+b= 8
a-b= 2
Multiplication: 15
Diviision: 1.6666666666666667

3.**Variable and data Types**

Introduction to different data types like integrs float,strings and complex

In [27]:
#Integer
x=10
print("Data type of x is ",type(x))

#Float
y=3.14
print("Data type of y is ",type(y))

#String
z="Python"
print("Data type of z is ",type(z))

#Complex
c=2+3j
print("Data type of c is ",type(c))

Data type of x is  <class 'int'>
Data type of y is  <class 'float'>
Data type of z is  <class 'str'>
Data type of c is  <class 'complex'>

4.**Lists**

Creating and manipluating lists

In [28]:
#Creating a List
fruits = ["apple", "banana", "cherry"]
print("list:",fruits)
#Acessing elemnts
print("fruits[0]:",fruits[0])
#adding an element
fruits.append("orange")
print("Updated list:",fruits)
#removing an elemnt
fruits.remove("banana")
print("list after removal",fruits)
#insert an element
fruits.insert(0,"banana")
print("new puthiya list",fruits)

list: ['apple', 'banana', 'cherry']
fruits[0]: apple
Updated list: ['apple', 'banana', 'cherry', 'orange']
list after removal ['apple', 'cherry', 'orange']
new puthiya list ['banana', 'apple', 'cherry', 'orange']

5.**Loops**